.chat_bottom_div {
  height: 140px;
}

.input_wrapper {
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: inherit;
  z-index: 9;
  /* background-color: #f4fbf7;; */
}

.input_chat::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

.input_chat#input_chat_id {
  border-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border: 1px solid #80868b !important;
  margin-right: 10px !important;
}
.input_chat#input_chat_id:focus {
  border: 1px solid #1a73e8 !important;
}

button.ui.button {
  border-radius: 25px !important;
}

.chat_intro_warning {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  font-weight: 500;
}

.input_suggestion_wrapper {
  text-align: center;
}

.chat_intro_card-body p,
.card_button {
  background-color: #d3e3fd;
  color: black;
  border-radius: 25px;
  display: inline-block;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  flex: 100%;
  margin-right: 15px;
  font-size: 1.4rem;
  /* width: min-content; */
  text-align: center;
  align-content: center;
}

.card_button:hover {
  background-color: #e0e1e2;
}

@media screen and (max-width: 450px) {
  .input_wrapper {
    padding: 20px 20px;
    right: 0;
    left: 0;
    width: 100vw;
  }

  .card_button {
    font-size: 1.2rem;
  }
}
