.content_wrapper {
  max-width: 940px;
  width: 940px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex: 1;
}

.chat_wrapper {
  max-width: 940px;
  width: 940px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  flex: 1;
}

.chat_intro_header_container {
  max-width: 940px;
  width: 940px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bard_sparkle,
.bard_no_sparkle {
  width: 35px;
  height: 35px;
  display: block;
}

@media screen and (max-width: 450px) {
  .content_wrapper {
    max-width: inherit;
    width: inherit;
    margin-top: 80px;
  }

  .chat_wrapper {
    max-width: inherit;
    width: inherit;
    margin-top: 80px;
    justify-content: flex-start;
  }
  .chat_intro_header_container {
    max-width: inherit;
    width: inherit;
  }

  .header_photo_lrg {
    width: 100px !important;
    height: 100px !important;
  }

  .chat_intro_header_container {
    flex-direction: column-reverse;
    /* align-items: flex-start; */
  }

  .chat_intro_header_left {
    margin-bottom: 300px;
  }
}
