.contact_link {
  color: black;
  font-weight: 400;
}

.copyContactIcon {
  cursor: pointer;
  color: darkgray;
  margin-left: 2px !important;
}
.copyContactIcon:hover {
  color: black;
}
.copySuccessIcon {
  cursor: pointer;
  color: darkgray;
  margin-left: 2px !important;
}
.copySuccessText {
  color: darkgray;
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none !important;
}

.show {
  opacity: 1;
}
