@font-face {
  font-family: 'Afacad';
  src: url('./fonts/Afacad/static/Afacad-Regular.ttf');
}

body {
  background-color: #f4fbf7;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
input,
button,
span {
  font-family: 'Afacad' !important;
}

.App {
  height: 100vh;
}

/* .app_wrapper {
  background-image: url('../src/images/abstract-blue.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
} */

/* HEADER + NAVIGATION */
.header_wrapper {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 1); */
  /* border-bottom: 1px solid black; */
}

.header_container {
  display: flex !important;
  justify-content: space-between;
  align-items: top;
}

.header_left {
  display: flex;
  background-color: white;
  border-radius: 50px;
}

.header_main {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_main a {
  color: black;
}

.header_photo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.header_photo_lrg {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.nav_menu {
  list-style: none;
  display: flex;
  margin: 5px 0;
  padding: 0 10px;
}

#home_nav_item {
  font-weight: bold;
  font-size: 1.4rem;
}
#resume_nav_item {
  background-color: white;
  border-radius: 50px;
}
#resume_nav_item:hover {
  background-color: rgb(245, 245, 245);
}

/* .nav_item_logo {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  font-weight: bold;
} */

.nav_item {
  margin-left: 10px;
}

.nav_item a {
  color: black;
  font-weight: 500;
  /* font-weight: bold; */
  font-size: 1rem;
  display: inline-block;
  padding: 10px;
  border-radius: 50px;
}
.nav_item a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.active_nav_item {
  background-color: rgba(0, 0, 0, 0.1);
}

.download_icon {
  width: 20px;
}

/* MAIN CONTENT */
.main_wrapper {
  /* margin-top: 100px; */
  /* background-color: #f4fbf7;; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.content_wrapper {
  max-width: 940px;
  width: 940px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  flex: 1;
}

.chat_wrapper {
  max-width: 940px;
  width: 940px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  flex: 1;
}

.chat_history_container {
  overflow: hidden;
  flex: 1 1;
  /* margin-bottom: 150px; */
}

.chat_bottom_div {
  height: 140px;
}

.input_wrapper {
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: inherit;
  z-index: 999;
  /* background-color: #f4fbf7;; */
}

.input_chat::placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

.input_chat#input_chat_id {
  border-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
  border: 1px solid #80868b !important;
  margin-right: 10px !important;
}
.input_chat#input_chat_id:focus {
  border: 1px solid #1a73e8 !important;
}

button.ui.button {
  border-radius: 25px !important;
}

.chat_intro_warning {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  font-weight: 500;
}

.chat_intro_container {
}
.chat_intro_container--h1 {
  font-size: 3rem;
  margin-top: 10px;
  white-space: pre-line;
  font-weight: 600;
  line-height: 3.6rem;
}

.bard_sparkle,
.bard_no_sparkle {
  width: 35px;
  height: 35px;
  display: block;
}
.chat_intro_header_container {
  max-width: 940px;
  width: 940px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_tagline_container {
  margin-bottom: 20px;
  width: 940px;
  max-width: 940px;
}

.header_tagline {
  font-weight: 100;
}

.chat_intro_cards_container {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  justify-content: space-between;
}

.inner_wrapper {
  max-width: 940px;
  width: 940px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 24px;
}

.chat_intro_card {
  /* height: 240px; */
  flex: 1;
  margin-left: 25px;
}

.chat_intro_card:first-of-type {
  margin-left: 0;
}

.chat_intro_card-header {
  margin-bottom: 20px;
}
.chat_intro_card-header h1 {
  font-size: 2rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#chat_intro_card-header-01 {
  background: linear-gradient(90deg, #cf8d7c, #a77cb4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#chat_intro_card-header-02 {
  background: linear-gradient(90deg, #a77cb4, #7f7dd1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#chat_intro_card-header-03 {
  background: linear-gradient(90deg, #7f7dd1, #548dd9 100%, #548dd9 0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.chat_intro_card-body {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}
.chat_intro_card-body p,
.card_button {
  background-color: #d3e3fd;
  color: black;
  border-radius: 25px;
  display: inline-block;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  flex: 100%;
  margin-right: 15px;
  font-size: 1.4rem;
  /* width: min-content; */
  text-align: center;
  align-content: center;
}

.card_button:hover {
  background-color: #e0e1e2;
}

.input_suggestion_wrapper {
  text-align: center;
}

.chat_intro_card-body p:hover {
  background-color: lightgray;
}

.fadeOut {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
.fadeIn {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s;
}

.chat_message_container {
  margin-top: 20px;
}

.chat_message_icon_container {
  display: flex;
  align-self: flex-start;
}

.chat_message {
  padding: 40px 30px;
  /* border: 1px solid black; */
  margin: 5px 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.chat_message img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}

.chat_message_human {
  padding: 15px 30px;
}

.chat_message_assistant {
  background-color: white;
}

.text_content {
  font-size: 1.1rem;
  line-height: 24px;
}
.chat_message_content {
  font-size: 1.1rem;
  line-height: 24px;
}

.chat_loading_container {
  padding: 15px 30px;
}

.about_content {
  line-height: 2.2rem;
  padding: 40px 100px;
}

.about_sign {
  display: block;
  width: 100px;
  transform: rotate(-7deg);
}

.heart {
  color: #ea3c53;
}

.form_button {
  box-shadow: none;
  background-color: #585858;
  color: rgba(0, 0, 0, 0.6) !important;
  font-family: inherit;
  cursor: pointer;
  padding: 15px 25px !important;
  border-radius: 25px !important;
}

.form_button:hover {
  background-color: darkgray;
}

.form_button:active {
  background-color: lightgray;
}

/* .contact_header {
  text-align: center;
} */

.divider {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.contact_link {
  color: black;
  font-weight: 400;
}

.landing-skills__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.landing-skills__main i {
  font-size: 4rem;
  display: inline-block;
  padding: 2rem;
}
