@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  position: relative;
  display: inline-block;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: center left;
}

.dark a:hover:after {
  transform: scaleX(1);
  transform-origin: center left;
}

a:active:after {
  transform: scaleX(1);
  transform-origin: center left;
}

.dark a:active:after {
  transform: scaleX(1);
  transform-origin: center left;
}

a:after,
.linkDark:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  margin-top: 0.25em;
  background: #000;
  transform-origin: center right;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transform: scaleX(0);
}

.dark a:after,
.linkLight:after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  margin-top: 0.25em;
  background: #fff;
  transform-origin: center right;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transform: scaleX(0);
}

/* Experience Table styles */

@layer base {
  th,
  td {
    @apply border-b p-4 pl-8 md:text-2xl dark:border-slate-300;
  }

  th {
    @apply text-left text-2xl font-normal;
  }

  td {
    @apply dark:text-slate-300;
  }
}

.skills:hover {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👋</text></svg>")
      16 0,
    auto;
}

#run:hover {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏃</text></svg>")
      16 0,
    auto;
}
#food:hover {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍣</text></svg>")
      16 0,
    auto;
}
#read:hover {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>📖</text></svg>")
      16 0,
    auto;
}
#chess:hover {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>♟️</text></svg>")
      16 0,
    auto;
}
